.i1{
    width:150px;
    margin-left:1250px;
}
.a
{
    position:relative;
    left:50px;
    top:10px;
}
.menu
{

    font-size:20px;
    color:#1b6698;
    position: relative;
    left:400px;
    bottom: 40px;
    white-space: 10px;
}
.a1
{
    text-decoration: none;
}

.h
{
    width:1500px;
    position: relative;
    bottom: 30px;

}
.im
{
    position: relative;
    bottom: 40px;

    height:50%;
    opacity:0.6;
}


.in
{
   color: #1b6698;
   font-size:20px;
   font-family:Arial Narrow Bold;
   position:relative;
   left:210px;
   bottom:50px;

}

.marquee1
{
    font-size: 15px;
    color:blue;

}