 
        <div class="a">
            <img [src]="url" class="i1">
        </div>
        <div class="menu">
          
           
            <a href="#" class="a1">About</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="a1">Services</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="a1">Contact</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="a1">Help</a>
           
        </div>
        <marquee class="marquee1">All copyrights reserve @2022 here</marquee>
       


