<!DOCTYPE html>
<html>
    <head>
        <title>Demo Site</title>
      
    </head> 
    <body>
        
        <div class="a">
            <img [src]="url">
        </div>
        <div class="menu">
          
            <a href="#" class="a1">Home</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="a1">Patient Information</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="a1">About</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="a1">Services</a>&nbsp;&nbsp;&nbsp;
            <a href="#" class="a1">Contact</a>
         
        </div>
       
    </body>
</html>